body
{
	background:#FFF;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
	margin:8px 0 16px;
	text-align:center;
}

table{
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

table tr:hover td{
	background-color:#a3ff9f;

}

table td{
	vertical-align:middle;
	background-color:#caf4bf;
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	color:#000000;
}


table th{
	vertical-align:middle;
	background-color:#93cf7f;
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	color:#000000;
}

.delete{
font-weight:bold;
}
.delete:hover{
color: red;
font-weight:bold;
}

#content
{
	margin:0 auto;
	text-align:center;
	width: auto;
	height: auto;
}

#form_container
{
	vertical-align: top;
	background:#fbfbfb;
	display: inline-block;
	background:#fbfbfb;
	text-align:left;
	padding: 5px;
	width: auto;
	border: 3px solid #81b691;
	border-radius: 5px;
}

#table_container
{
	vertical-align:top;
	background:#fbfbfb;
	display: block;
	margin: 5px;
	background:#fbfbfb;
	text-align:left;
	padding: 5px 5px 5px 5px;
	width: auto;
	border: 1px solid #116611;
}



form ul
{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}


.button {
	-moz-box-shadow:inset 0px 0px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 0px 3px 0px #91b8b3;
	box-shadow:inset 0px 0px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:0px 0px 4px #2b665e;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6cfc7c;
}
.button:active {
	position:relative;
	top:1px;
}


#update.button {
	-moz-box-shadow:inset 0px 0px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 0px 3px 0px #91b8b3;
	box-shadow:inset 0px 0px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f65d57), color-stop(1, #bc3c3c));
	background:-moz-linear-gradient(top, #f65d57 5%, #bc3c3c 100%);
	background:-webkit-linear-gradient(top, #f65d57 5%, #bc3c3c 100%);
	background:-o-linear-gradient(top, #f65d57 5%, #bc3c3c 100%);
	background:-ms-linear-gradient(top, #f65d57 5%, #bc3c3c 100%);
	background:linear-gradient(to bottom, #f65d57 5%, #bc3c3c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f65d57', endColorstr='#bc3c3c',GradientType=0);
	background-color:#f65d57;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:0px 0px 4px #2b665e;
}
#update:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3c3c), color-stop(1, #f65d57));
	background:-moz-linear-gradient(top, #bc3c3c 5%, #f65d57 100%);
	background:-webkit-linear-gradient(top, #bc3c3c 5%, #f65d57 100%);
	background:-o-linear-gradient(top, #bc3c3c 5%, #f65d57 100%);
	background:-ms-linear-gradient(top, #bc3c3c 5%, #f65d57 100%);
	background:linear-gradient(to bottom, #bc3c3c 5%, #f65d57 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3c3c', endColorstr='#f65d57',GradientType=0);
	background-color:#6cfc7c;
}
#update:active {
	position:relative;
	top:1px;
}

form li div
{
	color:#444;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li span
{
	color:#444;
	float:left;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li div.left
{
	display:inline;
	float:left;
	width:48%;
}

.clear
{
	clear:both;
}

form li div label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form li span label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form li .datepicker
{
	cursor:pointer !important;
	float:left;
	height:16px;
	margin:.1em 5px 0 0;
	padding:0;
	width:16px;
}

.form_description
{
	border-bottom:1px dotted #ccc;
	clear:both;
	display:inline-block;
	margin:0 0 1em;
}

.form_description[class]
{
	display:block;
}

.form_description h2
{
	clear:left;
	font-size:160%;
	font-weight:400;
	margin:0 0 3px;
}

.form_description p
{
	font-size:95%;
	line-height:130%;
	margin:0 0 12px;
}

form hr
{
	display:none;
}

form li.section_break
{
	border-top:1px dotted #ccc;
	margin-top:9px;
	padding-bottom:0;
	padding-left:9px;
	padding-top:13px;
	width:97% !important;
}

form ul li.first
{
	border-top:none !important;
	margin-top:0 !important;
	padding-top:0 !important;
}

form .section_break h3
{
	font-size:110%;
	font-weight:400;
	line-height:130%;
	margin:0 0 2px;
}

form .section_break p
{
	font-size:85%;

	margin:0 0 10px;
}



#error
{
	color:red;
	background:#f5f5f5;
	border:1px solid #e6e6e6;
	left:100%;
	line-height:130%;
	padding:8px 10px 9px;
	top:0;
	display:none;
}

form .required
{
	color:red;
	background:#f5f5f5;
	border:1px solid #e6e6e6;
	left:100%;
	line-height:130%;
	margin:0 0 0 8px;
	padding:8px 10px 9px;
	position:absolute;
	top:0;
	display:none;
	width:200px;
	z-index:1000;
}











